:root {
    --light-gray: #f5f5f5;
    --gray: #d6d7d7;
    --orange: #ea5c1f;
    --orange-hover: #f0a787;
    --blue: #4f5d75;
    --blue-hover: #b3cefd;
    --dark-blue: #212431;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--light-gray);
}

body > div {
    flex-grow: 1;
    margin: 10px;
}

.l-pane, .r-pane {
    max-width: 25vw;
}

.main {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 20px;
}

.game-board {
    background-color: var(--gray);
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 80%;
    grid-row: 2;
    box-shadow: 0px 1px 5px black;
    border-radius: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.cell {
    background-color: var(--light-gray);
    box-shadow: 0px 1px 5px black;
    border-radius: 2%;
}

.cell:hover {
    background-color: var(--blue-hover);
}

.start-reset {
    justify-self: center;
    align-self: center;
    grid-row: 3;
}

.start-reset > button {
    border: none;
    box-shadow: 0px 1px 5px black;
    background-color: var(--orange);
    padding: 10px 50px;
    border-radius: 5%;
    font-weight: bold;
}

.start-reset > button:hover {
    background-color: var(--orange-hover);
}

.l-pane {
    padding: 10vh 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.l-pane input {
    padding: 10px;
    border-radius: 5px;
}

.r-pane {
    padding: 10vh 30px 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.r-pane > .title {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}