* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", serif;
}

:root {
    --blue: #187fd2;
    --white: #ffffff;
    --gray: #e1e6ef;
    --shadow: #cbced8; 
    --yellow: #f2bf31;
    font-family: "Roboto", serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: linear-gradient(
        90deg, 
        white 0%, 
        var(--shadow) 5%, 
        var(--shadow) 95%, 
        white 100%);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.user .icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: var(--yellow);
}

.user .name {
    font-size: 1.2rem;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    max-height: 50px;
    z-index: 0;
}

.filter {
    overflow: visible;
    min-width: 200px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--shadow);
    border-radius: 10px;
    padding: 10px;
    overflow: visible;
    transition: 0.5s;
}

.filter_header{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: 0.5s;
}

.filter_dropdown {
    display: grid;
    place-items: center;
    cursor: pointer;
}

.filter_header span {
    transform: none;
    transition: 0.5s;
}

.filter.open {
    height: fit-content;
    transition: 0.5s;
    overflow: visible;
}

.filter_header.open {
    padding: 0 5px 10px 0;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-image-source: linear-gradient(
            90deg, 
            white 0%, 
            var(--shadow) 5%, 
            var(--shadow) 95%, 
            white 100%);
    transition: 0.5s;
}

.filter_header.open span {
    transform: rotate(180deg);
    transition: 0.5s;
}

.filter_content {
    display: none;
    transition: 0.5s;
}

.filter_content.open { 
    font-weight: 300;
    font-size: 0.9rem;   
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 150px;
    padding: 5px 0;
    overflow: scroll;
    transition: 0.5s;
}

.filter_content_sort li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.filter_content_sort button {
    background-color: var(--white);
    padding: 2px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.filter_content_values {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 10px;
}

.filter_content_values li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding-right: 5px;
}

.filter_content_values input {
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    justify-content: center;
    padding: 30px 0;
    gap: 30px;
    transition: flex-wrap 0.5s;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: var(--white);
    border: 1px solid var(--shadow);
    border-radius: 10px;
}

.main_pane {
    height: 95%;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px,320px) 2rem;
    padding: 10px 15px;
    row-gap: 10px;
}

.info_pane {
    overflow: hidden;
    opacity: 0;
    width: 0;
    transition: width 0.5s, opacity 0.3s;
}

.info_pane.open {
    height: 95%;
    width: 300px;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(100px,320px) 2rem;
    padding: 10px 15px;
    row-gap: 10px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-image-source: linear-gradient(
        0deg, 
        white 0%, 
        var(--shadow) 5%, 
        var(--shadow) 95%, 
        white 100%);
    transition: width 0.5s, opacity 1s;
}

.cover, .general_info {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.cover img{
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
}

.author {
    font-size: 1.1rem;
    font-weight: 450;
}

.summary {
    font-size: 0.7rem;
    font-weight: 300;
}

.pages {
    grid-column: 1/3;
    grid-row: 2;
    place-self: center;
}

.owned, 
.read, 
.info,
.edit {
    place-self: center;
    cursor: pointer;
}

.add_book_btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 100%;
    font-size: 50px;
    border: none;
    transition: linear 0.2s;
}

.add_book_btn:hover {
    font-size: 56px;
    right: 47px;
    bottom: 47px;
    transition: linear 0.2s;
}

.add_book_container {
    display: none;
}

.add_book_container.open{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_book_form {
    display: none;
}

.add_book_form.open {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;
    position: fixed;
    padding: 30px;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 3px 5px var(--shadow);
    z-index: 20;
}